venv/
__pycache__/
*.pyc
.env
**/[Dd]ataset/
**/Processed_dataset/
**/BHSig260-*/
**/CEDAR/
**/results/
**/signatures/
**/eval_result.txt
**/get_acc.py
**/get_accuracy.py
**/pair_dataset.csv
**/pair_dataset.py
**/pair_generator.py
**/Local_Dataset/
**/Local_dataset/
*.pth
*.pth.tar
*.h5
*.zip
*.rar
*.7z
*.tar.gz